@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

@layer components {
    /* Styles for the main login card wrapper */
    .auth-card {
        @apply w-full sm:max-w-md mt-6 px-6 py-8 bg-white overflow-hidden shadow-2xl sm:rounded-2xl;
    }
}

